@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');

:root {
    --gray: #3C3838;
    --lightgray: #D9D9D9;
    --black: #000;
    --green-btn: #428C85;
    --purple: #7338E6;
    --dark-gray: #514D4D;
    --Poppins: "Poppins";
}

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

h2 {
    font-family: Arial;
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    color: var(--lightgray);
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 100%);
    overflow: hidden;
    scroll-behavior: smooth;
}

.wrapper section {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, auto);
    margin: 20px 0px;
}

.wrapper section .item0,
.item1,
.item2,
.item3,
.item4,
.item5,
.item6,
.item7,
.item8,
.item9,
.item10,
.item11,
.item12,
.item13,
.item14,
.item15 {
    padding: 0 2px;
    transition: 250ms all;
}

.wrapper section .item0:hover,
.item1:hover,
.item2:hover,
.item3:hover,
.item4:hover,
.item5:hover,
.item6:hover,
.item7:hover,
.item8:hover,
.item9:hover,
.item10:hover,
.item11:hover,
.item12:hover,
.item13:hover,
.item14:hover,
.item15:hover {
    margin: 0 40px;
    transform: scale(1.2);
}

.wrapper section a {
    position: absolute;
    color: #fff;
    text-decoration: none;
    font-size: 6em;
    background: black;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}

.wrapper section a:nth-of-type(1) {
    top: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.wrapper section a:nth-of-type(2) {
    top: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, black 100%);
}

.popup-wrapper {
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup {
    position: relative;
    text-align: center;
    margin: 10% auto;
    padding: 20px;
    background-color: var(--dark-gray);
    width: 50%;
    height: 50%;
}

.popup a {
    background-color: gainsboro;
    color: black;
    text-decoration: none;
    padding: 6px 10px;
}

.popup-close {
    position: absolute;
    color: white;
    top: 8px;
    right: 8px;
    cursor: pointer;
    padding: 1px 9px;
    background: linear-gradient(blue 0 0) var(--p, 0)/var(--p, 0) no-repeat;
    transition: .4s, background-position 0s;
    background-color: red;
}

.popup-close:hover {
    --p: 100%;
    color: #fff;
}

.popup-content {}

.popup-link {
    position: relative;
    top: 25px;
}

@media only screen and (max-width: 600px) {
    a.arrow__btn {
        display: none;
    }
}

::-webkit-scrollbar {
    width: 0;
}