@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');

html,body{height: 100%; box-sizing: border-box;}

body 
{
  font-family:sans-serif; 
  background: linear-gradient(to top, #428c85, #7338e6); 
  display: flex;
  overflow: hidden;
}

form{
    width: 30%;
    height: 90%;
    margin: auto;
    color:white;
    backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(11, 15, 13, 0.582);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    padding: 20px 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
  width: 60px;
  height: 60px;
  margin: 5px 0px 0px 5px;
  position: absolute;
}

h3 {
    font-size: 14px;
    font-family: sans-serif;
    font-weight: normal;
}

input[type=email]{
    width: 100%;
    margin: 10px 0;
    border-radius: 5px;
    padding: 15px 18px;
    box-sizing: border-box;
  }

button {
    background-color: #428C85;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    margin: 7px 0;
    width: 100%;
    font-size: 18px;
  }

button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.headingsContainer{
    text-align: center;
}

.headingsContainer p{
    color: gray;
}
.mainContainer{
    padding: 8px;
}

.subcontainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.subcontainer a{
    font-size: 16px;
    margin-bottom: 12px;
}

  .login{
    color: white;
    text-align: center;
  }
  
  .login a{
    color: cornflowerblue;
  }
  
  .login a:link{
    text-decoration: none;
  }