@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;500;600;700&display=swap');

:root {
    --gray: #3C3838;
    --lightgray: #D9D9D9;
    --black: #000;
    --green-btn: #428C85;
    --purple: #7338E6;
    --dark-gray: #514D4D;
    --Poppins: "Poppins";
    --gold: #FFD700;
    --diamond: #00FFFF;
}

.main {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.main-itens {
    width: 70%;
    max-height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.area {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
}

p {
    font-family: var(--Poppins);
    color: #fff;
    font-size: 25px;
}

h2 {
    padding-left: 225px;
    padding-top: 100px;
    font-family: var(--Poppins);
    color: #fff;
    font-size: 25px;
}

span {
    font-family: var(--Poppins);
    padding-top: 45px;
    font-size: 30px;
}

.silver>p {
    padding-left: 30px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.gold>p {
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.diamond>p {
    padding-right: 30px;
    padding-top: 120px;
    display: flex;
    justify-content: center;
}

.silver>div {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/planosilver.png);
    position: absolute;
    bottom: 0;
    right: 0;
}

.gold>div {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/planogold.png);    
    position: absolute;
    bottom: 0;
}

.diamond>div {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: center;
    background-image: url(/assets/planodima.png);
    position: absolute;
    bottom: 0;
    left: 0;
}

.planos-advantages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.planos-advantages>table {
    overflow-x: hidden;
    margin-top: 125px;
    color: var(--lightgray);
    width: 70%;
    font-size: 2.1em;
}

.planos-advantages>table>tbody>tr>td {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid var(--lightgray);
    padding: 4% 3%;

}

#silver {
    background-color: var(--lightgray);
    width: 25%;
    color: #fff;
}

#gold {
    background-color: var(--gold);
    width: 25%;
    color: #fff;
}

#diamond {
    background-color: var(--diamond);
    width: 25%;
    color: #fff;
}

.cube {
    width: 100px;
    height: 75px;
}

@media only screen and (max-width: 1440px) {
    .planos-advantages>table {
        font-size: 1.5em;
    }
}

@media screen {
    ::-webkit-scrollbar {
        width: 0;
    }
}